.container {
  width: 100vw;
  display: flex;
  gap: 3vw;
  align-items: flex-start;
  align-content: center;
  justify-content: flex-start;
  padding-left: 40px;
}
.inputBox,
.btnBox {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  align-items: center;
  justify-content: flex-start;
}
.Input {
  all: unset;
  width: 30vw;
  height: 5vw;
  color: #9207b7;
  border: 2px solid #9207b7;
  border-radius: 30px;
  padding: 0.5vw;
  font-weight: 400;
  font-size: 3.5vw;
  line-height: 24px;
  letter-spacing: -0.05px;
  outline-color: #9207b7;
  text-align: center;
  background: transparent;
}
.Input::placeholder {
  font-weight: 400;
  font-size: 3.5vw;
  line-height: 24px;
  letter-spacing: -0.05px;
  color: #9207b7;
}
.Input:hover,
.Input:active,
.Input:focus {
  background-color: transparent;
}
.Input_errors {
  font-weight: 400;
  font-size: 2vw;
  line-height: 24px;
  color: #b71c07;
  padding: 0 20px;
}
.Button {
  all: unset;
  width: 30vw;
  height: 5vw;
  border: none;
  border-radius: 46px;
  background-color: #9207b7;
  color: #c2f5ff;
  font-weight: 400;
  font-size: 3.5vw;
  line-height: 4vw;
  text-align: center;
  padding: 0.5vw 0.5vw 1vw 0.5vw;
  cursor: pointer;
}

.Button:hover {
  background-color: #580ea2;
}

.Button:active {
  color: #580ea2;
  background-color: #97cce0;
}

.Button:disabled {
  color: #580ea2;
  background-color: #97cce0;
}

/* dark theme */

.Input_dark {
  color: #97cce0;;
  border: 2px solid #97cce0;
}
.Input_dark::placeholder {
  color: #97cce0;
}
.Input_dark:hover,
.Input_dark:active,
.Input_dark:focus {
  background-color: transparent;
}
.Input_dark_errors {
  background-color: #97cce0;
  border-radius: 10px;
  width: fit-content;
  align-items: center;
}
