.conteiner {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3vw;
   justify-content: flex-start;
   align-content: center;
   background-color: transparent;
}
.header {
   font-weight: 400;
   font-style: normal;
   font-size: 5vw;
   color: #6f42c1;
}
/* .content - ul */
.content {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 3vw;
   align-items: center;
   padding: 1vw 2vw 1vw 2vw;
}
/* .item_conteiner - li */
.item_conteiner {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 20vw;
   border-radius: 5vw;
   padding: 1vw;
}
.item_img {
   width: 70%;
   height: 70%;
}
.item_header {
   font-weight: 400;
   font-size: 4vw;
   line-height: 4vw;
   color: #9207b7;
   text-align: center;
   width: auto;
   height: auto;
}
.item_box {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   gap: 0.5vw;
}
.item_icon {
   width: 50%;
   height: 50%;
}
.item_data {
   color: #9207b7;
   font-size:  5vw;
}

/* dark theme */

.header_dark {
   color: #97cce0;
}