.app {
  width: auto;
  height:auto;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: darkseagreen;
}
.app_darck_theme {
  width: auto;
  height:auto;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #242424; 
}
