.app {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: darkseagreen;
}
.app_darck_theme {
  width: 100%;
  height:100%;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #242424; 
}
